:root{
    --header-bg: #242526;
    --body-bg: #18191a;
    --secondary-clr: #3a3b3c;
    --gray-clr: #4e4f50;;
    --side-hvr: #303031;
    --primary-clr: #e4e6eb;
    --primary-blue: #4599ff;
    --text-clr : #B0B3B8;
}




.inner-container{
    max-width: 350px;
    flex: 1;
}
.vertical-middle{
    vertical-align: middle;
}
.cursor-pointer{
    cursor: pointer;
}






/* responsive */


@media (max-width: 1366px){
    
    .inner-container,
    .fixed-sidebar{
        max-width: 302px !important;
    }

    #main-contents,
    #header .nav,
    #main-contents #story  {
        max-width: 590px !important;
    }
    #main-contents section {
        max-width: 500px;
        margin: auto;
    }
    #story {content: space-between;
        gap: 10px;
    }



}